@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>All things are created <b>by default</b></p>
    <p>@Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")</p>
</div>
